<section id="normal-container">
    <div class="container">
   <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 col-centered">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 page-title v-align-center">
                Complete your reservation
            </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="card padded with-info">
                      <div class="content">
                      	<div class="row">
                      		<div class="col-md-12">
                      			<p class="regular-header">Reservation details</p>
                      		</div>
                      		<div class="col-md-3">
                      			<img class="img-responsive" src="{{restaurant.imageFileName}}" alt="{{restaurant.restaurantName}}">
                      		</div>
                      		<div class="col-md-9">
                      			<div class="row">
                      				<div class="col-md-12">
                      					<p class="tiny-text">Restaurant</p>
                      					<p class="regular-text orange">{{ restaurant.restaurantName }} <br><br></p>
                      				</div>
                      			</div>
                      			<div class="row">
                      				<div class="col-md-4">
                      					<p class="tiny-text">People:</p>
                      					<p class="regular-text">{{ reservation.people }}</p>
                      				</div>
                      				<div class="col-md-4">
                      					<p class="tiny-text">Date</p>
                      					<p class="regular-text">{{moment-format reservation.date 'MMM DD, YYYY'}}</p>
                      				</div>
                      				<div class="col-md-4">
                      					<p class="tiny-text">Time</p>
                      					<p class="regular-text">{{reservationTime}}</p>
                      				</div>
                      			</div>
                      		</div>

                      	</div>
                      </div>
                  </div>
              </div>
          </div>
       </div>

   </div>
<div class="container">
	<div class="row">
              <div class="col-md-6 col-sm-8 col-xs-12 col-centered">
                <br>
                {{#if errorExists}}
                <p style="text-align: center;">{{ error }}</p>
                {{/if}}
              	<br>
                {{#if session.isAuthenticated}}
              	<button class="btn btn-primary" style="width: 100%;" {{action "makeReservation"}}>Complete your reservation</button>
                {{else}}
                <p style="text-align: center;">Please
                  {{#link-to 'login'}}log in{{/link-to}}
                  or
                  {{#link-to 'register'}}register{{/link-to}}
                  to make a reservation.</p>
                {{/if}}

              </div>
      </div>
</div>

</div>
</section>
