<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>All restaurants</h2>
        </div>
        {{log 'restaurants:' model.restaurants}}
        {{#each (chunk 3 model.restaurants.restaurants) as |restaurants_row|}}
            <div class="row">
                {{#each restaurants_row as |m|}}
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      Name: {{m.restaurantName}}
                      Description: {{m.description}}
                      FoodType: {{m.foodType}}
                      <img class="img-responsive" src="{{ m.imageFileName }}" alt="{{ m.restaurantName }}">
                      {{#link-to 'restaurant' m.id}}See Restaurant{{/link-to}}
                    </div>
                {{/each}}
            </div>
        {{/each}}
    </div>
</div>

<div class="container">
    <h2>Popular locations</h2>
    <ul class="row block-grid-4">
        {{#each model.locations as |location|}}
            <li class="popular-location">
                <p class="title">{{ location.name }}</p>
            </li>
        {{/each}}
    </ul>
</div>
