<div class="jumbotron index restaurant" style="background-image: url({{ model.imageFileName }});">
</div>
<div class="container" id="restaurant-container">

            <div class="col-md-9 col-sm-9 col-xs-12" id="pull-up-column">
                <div class="card" id="section-about">
                    <div class="padded">
                        <div class="title">
                            <div class="row">
                                <div class="col-md-12 main">
                                    About {{ model.restaurantName }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="padded">
                        <div class="content">
                           <div class="row">
                               <div class="col-md-12">
                                    <div class="subtitle">
                                        {{model.mark}}
                                    </div>
                                    <p class="regular-text">
                                        {{ model.description }}
                                    </p>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          {{find-table
            actionHandler=(action "findTable")
            reservation = reservation}}

            {{#if hasAvailable}}
              Available Tables:
              {{numOfTables}}

              <br> Available Times:<br>
              {{#each availableTimes as |time|}}
                <a class="btn btn-primary" {{action "reserveTable" time }}>{{time}}</a>

              {{/each}}
            {{/if}}

            {{#if session.isAuthenticated}}
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#commentModal"><i class="fa fa-star" aria-hidden="true"></i> Rate this place</button>
            {{else}}
              <button type="button" class="btn btn-default" disabled="true"><i class="fa fa-star" aria-hidden="true"></i>Login to rate</button>
            {{/if}}

            {{modal-rate theComment=comment actionRateClicked=(action "rateClicked") actionRate=(action "rate")}}





        </div>
